//- Source: topic_detail.html
//- ✓ No manual work needed

title #{vod.name}-星辰影院
meta(name="keywords", content="#{vod.name}电影专题,#{vod.name}电视剧专题,#{vod.name}综艺专题,#{vod.name}动漫专题,#{vod.name}推荐专题")
meta(name="description", content="本站提供#{vod.name},最新最全精品专题数据")