//- Source: vod_play.html
//- ✓ No manual work needed

title #{vod.name}{$obj.type.type_name}{$obj['vod_play_list'][$param['sid']]['urls'][$param['nid']]['name']}免费在线观看-南瓜影视
meta(name="keywords", content="#{vod.name}{$obj['vod_play_list'][$param['sid']]['urls'][$param['nid']]['name']},#{vod.name}{$obj['vod_play_list'][$param['sid']]['urls'][$param['nid']]['name']}南瓜影视,{$obj.type.type_title}#{vod.name}{$obj['vod_play_list'][$param['sid']]['urls'][$param['nid']]['name']}免费在线观看")
meta(name="description", content="#{vod.name}剧情:#{vod.content}")