//- Source: vod_search.html
//- ✓ No manual work needed

title #{param.wd}#{param.actor}#{param.director}#{param.area}#{param.lang}#{param.year}#{param.class}搜索结果-南瓜影视
meta(name="keywords", content="#{param.wd}#{param.actor}#{param.director}#{param.area}#{param.lang}#{param.year}#{param.class}搜索结果")
meta(name="description", content="#{param.wd}#{param.actor}#{param.director}#{param.area}#{param.lang}#{param.year}#{param.class}搜索结果")