//- Source: vod_detail.html
//- ✓ No manual work needed

title {$obj.type.type_title}#{vod.name}{$obj.type.type_key}{$obj.type.type_des}免费在线观看-南瓜影视
meta(name="keywords", content="#{vod.name},#{vod.name}南瓜影视,{$obj.type.type_title}#{vod.name}免费在线观看,#{vod.name}{$obj.type.type_key}免费在线观看,#{vod.name}{$obj.type.type_des}免费在线观看")
meta(name="description", content="#{vod.name}剧情:#{vod.content}")