//- Source: vod_show.html
//- ✓ No manual work needed

title #{param.year}#{param.area}#{vod.name}#{vod.key}#{vod.des}免费在线观看第#{param.page}页-南瓜影视
meta(name="keywords", content="南瓜影视#{param.year}#{param.area}#{vod.name}免费在线观看,#{param.year}#{param.area}#{vod.name}免费在线观看,#{param.year}#{param.area}#{vod.name}#{vod.key}免费在线观看,#{param.year}#{param.area}#{vod.name}#{vod.des}免费在线观看")
meta(name="description", content="#{maccms.siteDescription}")