//- Source: vod_type.html
//- ✓ No manual work needed

title #{vod.name}#{vod.key}#{vod.des}免费在线观看第#{param.page}页-南瓜影视
meta(name="keywords", content="南瓜影视#{vod.name}免费在线观看,#{vod.name}免费在线观看,#{vod.name}#{vod.key}免费在线观看,#{vod.name}#{vod.des}免费在线观看")
meta(name="description", content="#{maccms.siteDescription}")